<!DOCTYPE html>
<html>
  <head>
    <title>BraintreeExpressExample</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/overrides.css">
    <script type="text/javascript" src="/javascript/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascript/vendor/jquery.lettering-0.6.1.min.js"></script>
    <script type="text/javascript" src="/javascript/demo.js"></script>
  </head>
  <body>
    <header class="main">
      <div class="container wide">
        <div class="content slim">
          <div class="set">
            <div class="fill"><a class="pseudoshop" href="/">PSEUDO <strong>SHOP</strong></a></div>
            <div class="fit"><a class="braintree" href="https://developers.braintreepayments.com/guides/drop-in" target="_blank">Braintree</a></div>
          </div>
        </div>
      </div>
      <div class="notice-wrapper">
      </div>
    </header>
  </body>
</html>
